.header {
  // background-color: #7674744f;
  background-color: #e5e1e1;;
  display: flex;
  padding: 15px 34px;
  align-items: center;
  justify-content: space-between;
  .logo_image {
    img {
      width: 55px;
    }
  }
  .network {
    border: 1px solid grey;
    padding: 9px 23px;
    border-radius: 66px;
    background-color: white;
  }
}
