/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "./assets/_scss/variable";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// materail Forms

.mat-form {
  width: 100%;
}
.mat-input-width {
  width: 100%;
}

// custtom button

.total_window {
  width: 100%;
  //   background-color: #d3d2d2;
  background-color: #e5e1e1;
  height: 100vh;
  .inner_window_view {
    width: 75%;
    background-color: white;
    margin: auto;
  }
}
