@import "./../../../../assets/_scss/variable";
.main_container {
  width: 75%;
  margin: auto;
  height: unset !important;
  @media screen and (min-width: 540px) and (max-width: 900px) {
    width: 90%;
  }

  @media screen and (max-width: 550px) {
    width: 95%;
    margin-top: -20px;
  }
}

.logo_image_caption {
  display: flex;
  margin: 34px 0px;
  align-items: center;
  .image {
    img {
      width: 50px;
      @media screen and (max-width: 550px) {
        width: 45px;
      }
    }
  }
  .label {
    font-size: 26px;
    padding-left: 12px;
    font-family: fantasy;
    @media screen and (max-width: 550px) {
      font-size: 20px;
    }
  }
}

.confirm_body {
  h2 {
    font-size: 30px;
    @media screen and (max-width: 550px) {
      font-size: 22px;
    }
  }

  .selected {
    display: flex;
    border: 1px solid;
    border-radius: 7px;
    padding: 19px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 172px;
  }
}

.inside_selected {
  padding: 8px 20px !important;
  border: 1px solid #8080809c;
  margin: 9px 6px;
  font-size: 17px;
  border-radius: 6px;
  color: $theme_color;
  cursor: pointer;
}

.un-ordered-list {
  display: flex;
  padding: 19px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 172px;
}

.selected_text {
  background-color: $theme_color !important;
  color: white !important;
}

.Custom_button {
  text-align: center;
  margin: -10px 0px 8px !important;
  @media screen and (max-width: 550px) {
    margin: 19px 0px 15px;
  }
  button {
    border: none;
    background-color: $theme_color;
    color: white;
    border-radius: 28px;
    padding: 11px 63px;
  }
}

.back {
  margin: -21px 0px 25px 15px;
  .back_btn {
    border: 1px solid grey;
    border-radius: 5px;
    padding: 2px 13px;
    background-color: $theme_color;
    color: white;
  }
}
