<div class="main_container">
    <div class="logo_image_caption">
        <div class="image">
            <img src="./../../../assets/images/wallet_logo.png" alt="">
        </div>
        <div class="label">
            Crypto Wallet
        </div>
    </div>


    <div class="back">
        <button class="back_btn" (click)="backButton()">back</button>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="confirm_body">
                <h2 class="h2">Confirm your Secret Recovery phrase</h2>
                <p>Please select each phrase in order to make sure it is correct.
                </p>

                <div class="selected">
                    <div class="" *ngFor="let item of selectedList">
                        <p class="inside_selected">{{item}} {{item.isSelected}}</p>
                    </div>
                </div>

                <div class="un-ordered-list">
                    <div class="" *ngFor="let item of unOrderedPhrase">
                        <p class="inside_selected" [ngClass]="{selected_text:item.isSelected}" (click)="select(item)">
                            {{item.phrase}}</p>
                    </div>
                </div>

                <div class="Custom_button">
                    <button (click)="compared_completed()">complete</button>
                </div>
            </div>
        </div>
    </div>
</div>